body {
    margin: 0;
    height: 0;
    overflow-x: hidden;
    background-color: rgb(242, 242, 242);
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    padding: 5%;
    margin: 5%;
    border-radius: 5px;
}

.wrap {
    padding: 0;
    margin: 0;
}

.toggle {
    color: white;
}

.btn-primary {
    background-color: #0078ff;
    color: white;
}

#primary-header {
    margin: 0;
    padding-top: 10px;
    background-color: #333545;
}

#primary-header > div {
    display: inline-block;
    min-height: 45px;
    line-height: 45px;
    vertical-align: top;
}

#logo-section,
#auth-section {
    width: 11%;
}

#search-section {
    width: 75%;
    padding: 0 0.8%;
}

#logo-section {
    text-align: center;
}

#search-box {
    width: 98%;
    padding: 0 0.8%;
    background-color: white;
    border-radius: 5px;
}

#primary-nav {
    width: 100%;
    border: 1px solid #333545;
}

#primary-nav > div {
    display: inline-block;
}

#navbar-left,
#navbar-right {
    width: 48%;
}

#navbar-right {
    position: relative;
    left: 15%;
}

#navbar-left a {
    color: white;
    padding: 0 1.5%;
}

#navbar-right a {
    color: rgba(255, 255, 255, .5);
    padding: 0 1%;
}

#search-box i {
    width: 2%;
}

#search-box input {
    outline: none;
    border: none;
    width: 90%;
    padding-left: 1%;
}

/*Image Slider CSS Start*/
.slider {
    position: relative;
    width: 5142px;
    height: 35vh;
    /*animation: img-slider;*/
    /*animation-duration: 20s;*/
    /*animation-iteration-count: infinite;*/
}

.slider img {
    float: left;
    width: 15%;
    height: auto;
    padding: 5px 0 5px 5px;
}

/*@keyframes img-slider {*/
/*0% {*/
/*left: 0;*/
/*}*/
/*20% {*/
/*left: -1280px;*/
/*}*/
/*40% {*/
/*left: -2560px;*/
/*}*/
/*60% {*/
/*left: -5142px;*/
/*}*/
/*}*/

/*Content  CSS Starts*/

#content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.widget {
    margin: 0 40px;
}

.widget-list h4,
.widget p {
    margin: 5px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.widget-heading {
    margin-bottom: 1px;
}

.widget-card {
    background-color: white;
    padding: 2%;
    margin-bottom: 1px;
}


.movie-widget-card{
    border-radius: 8px;
    width: 80%;
    height: auto;
    margin: 2%;
}

.movie-widget-list {
    display: flex;
    width: 100%;
}

.movie-widget-card .movie-widget-card-footer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: white ;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.movie-widget-card .movie-widget-card-footer h4,
.movie-widget-card .movie-widget-card-footer p{
    margin: 0 10%;
    font-size: 14px;
}

.movie-widget-card img {
    width: 100%;
    height: auto;
}